// Jade file to specify output of an actors list
// Inherits from layout

extend layout1
block content
  p
    | #{title}:
  // Create a table with one row per result
  table
    tr
    - for (var i = 0; i < user_info.schema.length; i++)
      td #{user_info.schema[i]}  #{user_info.data[i]}
      td &nbsp;
      br

  form(method='post', action='/user/add_friend')
    input(type='hidden', name='current_user_id', value='#{current_user_id}') 
    input(type='hidden', name='stranger_id', value='#{stranger_id}') 
    input(type='submit', value='Add friend') 
      
   
  br   

  // Put a click button that lets us return to the index page 
