// Jade file to specify output of an actors list
// Inherits from layout
include ./includes/row_list.jade
include ./includes/header_for_page.jade
extend layoutPage
block header
  +extend_pageheader(title)
block left
  panel.panel-success(style = "margin-bottom: 10px;")
    .panel-heading
      .panel-title #{title}
    .page-body
    ul
      - for (var key in user_info)
        li #{key}  #{user_info[key]}

  // add-friend button
  - if (is_friend === false)
    form(method='post', action='/user/add_friend')
      input(type='hidden', name='current_user_id', value='#{current_user_id}') 
      input(type='hidden', name='stranger_id', value='#{stranger_id}') 
      input(type='submit', value='Add friend') 

  - else   
    form(method='post', action='/user/send_message')
      input(type='hidden', name='current_user_id', value='#{current_user_id}') 
      input(type='hidden', name='stranger_id', value='#{stranger_id}') 
      input(type='text', name='message', value='send message to your friend!') 
      input(type='submit', value='send') 

block bottom
    h1 
      span.label.label-info Checkout your friend's favorite: 
    +extend_row_array(business_list)
      
   
  br   

  // Put a click button that lets us return to the index page 
block bottom

    
  
