// Jade file to specify output of an actors list
// Inherits from layout

extend layoutPage
block left
  panel.panel-success(style = "margin-bottom: 10px;")
    .panel-heading
      .panel-title #{title}
    .page-body
    ul
      - for (var key in user_info)
        li #{key}  #{user_info[key]}

  - if (is_friend === false)
    form(method='post', action='/user/add_friend')
      input(type='hidden', name='current_user_id', value='#{current_user_id}') 
      input(type='hidden', name='stranger_id', value='#{stranger_id}') 
      input(type='submit', value='Add friend') 
      
   
  br   

  // Put a click button that lets us return to the index page 
block bottom
  h1 Checkout your friend's favorite:    
  - if (business_list !== null)
    - for (var i = 0; i < business_list.length; i++)
      table.table.table-striped
        tr
        - for (var key in business_list[i])
          td #{key}  #{business_list[i][key]}
          td &nbsp;

    
  
