// Jade file to specify output of an actors list
// Inherits from layout

include ./includes/row_list.jade
extend layout
block left
  panel.panel-success(style = "margin-bottom: 10px;")
    .panel-heading
      .panel-title 
        a#account #{title}
    .page-body
    ul
      +extend_row(current_user)

      br   
      +extend_row_array(message)
    form(method='get', action='/logout',)
      button.btn.btn-primary(type='submit',style = "margin-bottom: 10px;") Log out
   
  panel.panel-danger(style = "margin-bottom: 10px;")
    .panel-heading
      .panel-title 
        a#friends Start a Party
    .page-body
      - if((typeof friends_list !== 'undefined') && (friends_list.length != [[]]))
          form(method='post', action='/invite')
            ul.list-group
              - for (var i = 0; i < friends_list.length; i++)
                li.list-group-item 
                  | #{friends_list[i].LAST_NAME} &nbsp #{friends_list[i].FIRST_NAME} 
                  a(href='/user/' + friends_list[i]["USER_NAME_ID"]) details &nbsp
                  input(type='checkbox', name='friends_list', value=friends_list[i]["USER_NAME_ID"])
          
            button.btn.btn-primary(type='submit') Invite friends to party!
        
       
  //Similar User
  panel.panel-success(style = "margin-bottom: 10px;")
    .panel-heading
      .panel-title 
        a#acquaintance People you may know
    .page-body
      +extend_row_array(similar_user_list)

  //- //Friends
  //- p
  //-   | Friends:
  //- - for (var i = 0; i < friends_list.length; i++)
  //-   // Create a table with one row per result
  //-   table
  //-     tr
  //-     - for (var key in friends_list[i])
  //-       td #{key}  #{friends_list[i][key]}
  //-       td &nbsp;
  //-       br
        
  //-   #{friends_list[i].FIRST_NAME}&nbsp #{friends_list[i].LAST_NAME}
  //-   br
  
  
block content  
  panel.panel-danger(style = "margin-bottom: 10px;")
    .panel-heading
      .panel-title 
        a#search Search a Business
    .page-body
      form(method='get', action='/business_list')
        label() Business Name: 
        br
        input(type='text', name='name', value='')
        br
        label() City: 
        br
        input(type='text', name='city', value='')
        br
        label() State: 
        br
        input(type='text', name='state', value='')
        br
        button.btn.btn-primary(type='submit',style = "margin-bottom: 10px;") Search
  // Put a click button that lets us return to the index page 

  //Favorite Businesses
  .panel.panel-info(style = "margin-bottom: 10px;")
    .panel-heading
      .panel-title 
        a#favourites Favorites
    .page-body
    +extend_row_array(business_list)
