mixin extend_row(row)
  ul.list-group
    - for (var i = 0; i < row.label.length; i++)
      li.list-group-item 
        p #{row.label[i]} #{row.data[i]}

mixin extend_row_array(row_array)
  - if(row_array !== null && row_array !== undefined && row_array.length > 0)
    table.table.table-striped
      thead
        tr
          - for (var i = 0; i < row_array[0].label.length; i++)
            - if (row_array[0].label[i][0] != '.')
              th #{row_array[0].label[i]}
      - for (var i = 0; i < row_array.length; i++)
        - var row = row_array[i]
        tbody
          tr
            - for (var j = 0; j < row.label.length; j++)
              - if (row.label[j][0] != '.')
                td #{row.data[j]}
            - for (var j = 0; j < row.label.length; j++)
              - if (row.label[j] == '.url')
                td
                  a(href=row.data[j]) details         
